/* Styles for the ledger container */
.ledger-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Styles for the card */
.card {
  
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f9f9f9;
    margin-top: 70px;
  }

/* Styles for the search container */
.search-container {
    margin-top: 10px;
    margin-right: -230px;
  }
  
  /* Styles for the search input box */
  .search-container input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 10px;
  }
  
  /* Placeholder styles for the search input box */
  .search-container input[type="text"]::placeholder {
    color: #999;
  }
  
/* Styles for the card image */
.card-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Styles for the card title */
.card-title {
  margin-top: 0;
  margin-bottom: 5px;
}

/* Styles for the card info */
.card-info {
  margin-top: 0;
  margin-bottom: 5px;
}
