.header {
    background: linear-gradient(to right, #0e2439, #51b6d1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .header__logo {
    display: flex;
    align-items: center;
  
  }
  
  .header__logo img {
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    animation: rotate 2s infinite linear;
    
  }
  
  .header__title {
    margin: 0;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .header__nav {
    display: flex;
    align-items: center;
  }
  
  .header__link {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 20px;
    transition: color 0.3s ease;
    position: relative;
  }
  
  .header__link:hover {
    color: #030101;
  }
  
  .header__link:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #e71818;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .header__link:hover:before {
    transform: scaleX(1);
  }
  